In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import os

In [3]:
# #General purpose tools
# from sklearn.model_selection import GridSearchCV
# from sklearn.model_selection import train_test_split
# from sklearn.feature_selection import SelectFromModel
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import mean_squared_error, mean_tweedie_deviance
# from scipy import stats


# #Different models

# from sklearn.linear_model import ElasticNet
# from sklearn.linear_model import ElasticNetCV
# from sklearn.linear_model import LassoCV
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.ensemble import GradientBoostingRegressor

In [56]:
sellers = pd.read_csv('d:\projects\!SmartB\Product 1\sellers.csv', sep=';')

In [57]:
sellers

                seller_id           seller unique identifier
0  seller_zip_code_prefix  first 5 digits of seller zip code
1             seller_city                   seller city name
2            seller_state                       seller state

In [65]:
sellers2 = pd.read_csv('d:\projects\!SmartB\Product_1\sellers_1.csv')

In [66]:
sellers2.shape

(3095, 4)

In [67]:
sellers2.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP