# **Task 3**

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## **Data importing and cleaning**

In [3]:
data_orders_payments = pd.read_csv('data_raw/order_payments.csv')
data_orders = pd.read_csv('data_raw/orders.csv')
data_customers = pd.read_csv('data_raw/customers.csv')
data_sellers = pd.read_csv('data_raw/sellers (1).csv')
data_order_items = pd.read_csv('data_raw/order_items.csv')
data_product = pd.read_csv('data_raw/products.csv')
data_geolocation = pd.read_csv('data_raw/geolocation.csv')

In [4]:
data_orders.head(2)

                           order_id                       customer_id order_status order_purchase_timestamp    order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45           2018-08-13 00:00:00

In [5]:
data_customers.shape, data_geolocation.shape

((99441, 5), (1000163, 5))

In [14]:
data_merge_0 = pd.merge(data_customers, data_geolocation, how='right', 
                        left_on = 'customer_zip_code_prefix', right_on = 'geolocation_zip_code_prefix')

data_merge_0.rename(columns={'geolocation_lat':'customer_lat', 'geolocation_lng': 'customer_lng'}, inplace=True)
data_merge_0.drop(['geolocation_zip_code_prefix', 'customer_unique_id','geolocation_city','geolocation_state'], axis=1, inplace=True)
data_merge_0.head(2)

                        customer_id  customer_zip_code_prefix customer_city customer_state  customer_lat  customer_lng
0  05b005e82f3f2dcc41b5504f00484e50                    1037.0     sao paulo             SP    -23.545621    -46.639292
1  19ee522d0dd140702062bb89e4820e19                    1037.0     sao paulo             SP    -23.545621    -46.639292

In [15]:
data_merge_0.shape

(15115319, 6)

In [ ]:
 # merge of data with orders and and customers
data_merge_1 = pd.merge(data_orders, data_merge_0, on='customer_id')
data_merge_1.drop(['customer_zip_code_prefix'], axis=1, inplace=True)
data_merge_1.head(2)

In [ ]:
data_merge_1_5 = pd.merge(data_sellers, data_geolocation[['geolocation_zip_code_prefix','geolocation_lat', 'geolocation_lng']], left_on = 'seller_zip_code_prefix', right_on='geolocation_zip_code_prefix')
data_merge_1_5.rename(columns={'geolocation_lat':'seller_lat', 'geolocation_lng': 'seller_lng'}, inplace=True)
data_merge_1_5.drop(['geolocation_zip_code_prefix','seller_zip_code_prefix'], axis=1, inplace=True)
data_merge_1_5.head(2)

In [ ]:
data_merge_2 = pd.merge(data_order_items, data_merge_1_5, on='seller_id')
data_merge_2.head(2)

In [ ]:
# Count of items in order
data_merge_2.order_item_id.value_counts()

In [ ]:
data_merge_3 = pd.merge(data_merge_2, data_product, on='product_id')
data_merge_3.head(2)

In [ ]:
del data_merge_0, data_merge_1_5, data_merge_2

In [ ]:
data_merge_1.shape

In [ ]:
data_merge_3.shape

In [ ]:
data_merge_4 = pd.merge(data_merge_1, data_merge_3, on='order_id')
data_merge_4.head(2)

In [ ]:
data_merge_4.shape

In [ ]:
data_merge_4.isna().sum()

Ми отримали фінальну робочу таблицб з якою вже можемо працювати.

## **Preprocessing**

### **Order approving**

In [ ]:
data_merge_4[data_merge_4.order_approved_at.isna()].head(2)

Could be droped