In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
data = pd.read_csv('order_reviews.csv')

In [8]:
data

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [9]:
data = data.drop(['review_id','order_id'],axis=1)

In [20]:
data.isna().sum()

review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [21]:
coment_nan = data.loc[ data.review_comment_message.isna()]

In [22]:
coment_nan.review_score.mean()

4.379470187305784

In [23]:
coment_nan.review_score.mode()

0    5
dtype: int64

In [ ]:
data

### Как видно там где нет комментариев оценка скорее всего позитивна

In [24]:
coment_not_nan = data.loc[ data.review_comment_message.isna() == False]

In [25]:
coment_not_nan.review_score.mean()

3.640409072401983

In [26]:
coment_not_nan.review_score.mode()

0    5
dtype: int64

In [27]:
data.review_creation_date = pd.to_datetime(data.review_creation_date)

In [28]:
data.review_answer_timestamp = pd.to_datetime(data.review_answer_timestamp)

In [38]:
data['days_for_answer'] = (data.review_answer_timestamp - data.review_creation_date).astype('timedelta64[D]')

In [32]:
data.iloc[1].days_for_answer

1.0

In [41]:
from datetime import datetime, timedelta

In [51]:
data

,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,days_for_answer
0,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59,0 days 21:46:59
1,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13,1 days 03:05:13
2,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24,1 days 14:36:24
3,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06,0 days 22:02:06
4,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53,1 days 10:26:53
...,...,...,...,...,...,...
99995,5,NaN,NaN,2017-12-09,2017-12-11 20:06:42,2 days 20:06:42
99996,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43,1 days 09:10:43
99997,4,NaN,NaN,2018-07-01,2018-07-02 12:59:13,1 days 12:59:13
99998,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15,2017-12-16 01:29:43,1 days 01:29:43
99999,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49,0 days 21:01:49

In [17]:
data.loc[data.review_score == 1].review_comment_message.isna().sum()

2679

### почти все ревью с оценко 1 с комментарием

In [40]:
data.corr()

                  review_score  days_for_answer  hours_for_answer
review_score          1.000000         0.006423          0.007046
days_for_answer       0.006423         1.000000          0.999539
hours_for_answer      0.007046         0.999539          1.000000

### оценик не коррелируют с кол-вом дней на ответ

In [39]:
data['hours_for_answer'] = (data.review_answer_timestamp - data.review_creation_date).astype('timedelta64[h]')