## Translate all the review text as one request to google translate

In [1]:
import pandas as pd
import numpy as np 
from googletrans import Translator

In [2]:
translator = Translator()
translator.raise_Exception = True

In [31]:
df = pd.read_csv('order_reviews.csv')
df

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [4]:
df.describe()

        review_score
count  100000.000000
mean        4.070890
std         1.359663
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [6]:
df = df.drop(['review_id','order_id','review_comment_title','review_creation_date','review_answer_timestamp'],axis=1)
df

       review_score                             review_comment_message
0                 4                                                NaN
1                 5                                                NaN
2                 5                                                NaN
3                 5              Recebi bem antes do prazo estipulado.
4                 5  Parabéns lojas lannister adorei comprar pela I...
...             ...                                                ...
99995             5                                                NaN
99996             5  Excelente mochila, entrega super rápida. Super...
99997             4                                                NaN
99998             1  Solicitei a compra de uma capa de retrovisor c...
99999             1  meu produto chegou e ja tenho que devolver, po...

[100000 rows x 2 columns]

In [7]:
df.dropna(subset = ["review_comment_message"], inplace=True)
df

       review_score                             review_comment_message
3                 5              Recebi bem antes do prazo estipulado.
4                 5  Parabéns lojas lannister adorei comprar pela I...
9                 4  aparelho eficiente. no site a marca do aparelh...
12                4    Mas um pouco ,travando...pelo valor ta Boa.\r\n
15                5  Vendedor confiável, produto ok e entrega antes...
...             ...                                                ...
99983             5  Entregou dentro do prazo. O produto chegou em ...
99990             3  O produto não foi enviado com NF, não existe v...
99996             5  Excelente mochila, entrega super rápida. Super...
99998             1  Solicitei a compra de uma capa de retrovisor c...
99999             1  meu produto chegou e ja tenho que devolver, po...

[41753 rows x 2 columns]

In [8]:
translation = translator.translate(df["review_comment_message"].iloc[0], src='pt')
print("Original text: ", df["review_comment_message"].iloc[0])
print("Translated text: ", translation.text)

Original text:  Recebi bem antes do prazo estipulado.
Translated text:  I received well before the stipulated deadline.

### Converting each of review into one text

In [9]:
test_df = df[:5000]
test_df

       review_score                             review_comment_message
3                 5              Recebi bem antes do prazo estipulado.
4                 5  Parabéns lojas lannister adorei comprar pela I...
9                 4  aparelho eficiente. no site a marca do aparelh...
12                4    Mas um pouco ,travando...pelo valor ta Boa.\r\n
15                5  Vendedor confiável, produto ok e entrega antes...
...             ...                                                ...
11903             4                       Atendeu minhas expectativas
11904             1  PEDIDO APROVADO DIA 06/10, POR DEMORA CANCELAM...
11905             1  A garrafinha não possui 1,5 L conforme anuncia...
11911             5                                             Ótimo
11915             5  Amo comprar nessa conceituada empresa...spr re...

[5000 rows x 2 columns]

In [34]:
test_df.to_csv('test_50.txt', columns=['review_comment_message'])

In [35]:
with open('test_50.txt', 'r') as file:
    data = file.read().replace('\n', '')
data

',review_comment_message3,Recebi bem antes do prazo estipulado.4,Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa9,aparelho eficiente. no site a marca do aparelho esta impresso como 3desinfector e ao chegar esta com outro nome...atualizar com a marca correta uma vez que é o mesmo aparelho12,"Mas um pouco ,travando...pelo valor ta Boa."15,"Vendedor confiável, produto ok e entrega antes do prazo."16,"GOSTARIA DE SABER O QUE HOUVE, SEMPRE RECEBI E ESSA COMPRA AGORA ME DECPCIONOU"19,Péssimo22,Loja nota 1024,obrigado pela atençao amim dispensada27,"A compra foi realizada facilmente.A entrega foi efetuada muito antes do prazo dado.O produto já começou a ser usado e até o presente,sem problemas."28,relógio muito bonito e barato.29,Não gostei ! Comprei gato por lebre32,"Sempre compro pela Internet e a entrega ocorre antes do prazo combinado, que acredito ser o prazo máximo. No stark o prazo máximo já se esgotou e ainda não recebi o produto."34,"Recebi exatamente o que esperava. As demais encomendas de outros vendedores atrasaram, mas esta chegou no prazo."36,"Recomendo ,"37,muito boa 38,"Tô completamente apaixonada, loja super responsável e confiável!"39,Nada de chegar o meu pedido.43,Muito bom. muito cheiroso.47,"otimo vendedor chegou ate antes do prazo , adorei o produto"49,Processo de compra tranquilo e eficiente.50,Tomara q dure pois é de pelinho.51,"recebi somente 1 controle Midea Split ESTILO.Faltou Controle Remoto para Ar Condicionado Consul"55,boa59,MT lindo61,"Ocorreu tudo como contratado sendo a entrega realizada antes do prazo  Estou satisfeita"62,"Amei achei lindo ,muito delicado adorei"64,"Ótima loja para parceria: rápidíssima, produtos bem embalados e de qualidade! Só o custo do frete que foi meio azedo."67,Recomendo o vendedor... 68,"O produto não chegou no prazo estipulado e causou transtorno, pq programei a viagem de férias do meu filho, baseado no prazo. Moro na Bahia e ele em Cuiabá sozinho. Agora, a casa está vazia. "69,"Produto entregue como solicitado, e com muita brevidade. Parabéns!"73,Eu comprei duas unidades e só recebi uma e agora o que faço?75,"Produto bom, porém o que veio para mim não condiz com a foto do anúncio."76,"Produto muito inferior, mal acabado."79,O kit mochila patrulha canina é lindo!! Meu netinho vai amar!! Obrigada!!80,Maravilha 87,Entrega no prazo88,Cumpriu o prometido na compra e com o uma entrega em tempo satisfatório 89,Pedi reembolso e sem resposta até momento 90,Super rápido.100,"Satisfeito"103,"estao de parabens... sempre chega com muiiita antecedencia..Muito obrigada.... "108,OK RECOMENDO110,"Produto chegou, mas meu PC não conseguiu reconhecer as portas USB."111,"Produto de muito boa qualidade, chegou antes do prazo prometido"115,"Este foi o pedidoBalde Com 128 Peças - Blocos De Montar 2 un - R$ 25,00 cada (NÃO FOI ENTREGUE)Vendido e entregue targaryenTapete de Eva Nº Letras 36 Peças Crianças 1 un - R$ 35,90 (ESTE FOI ENTREG"116,"Entrega muito rápidaParabéns"119,comprei tres pacotes de cinco folhas cada de papel transfer para tecido escuro e so recebi dois121,"Estava faltando apenas um produto, eu recebi hoje , muito obrigada!Tudo certo!Att Elenice."127,"A bolsa térmica além de linda é super espaçosa . Produto de acordo com o anunciado e a entrega super rápida , entregou bem antes do prazo ."'

In [36]:
type(data)

str

In [37]:
translation = translator.translate(data, src='pt')
print("Translated text: ", translation.text)

Translated text:  , Review_comment_message3, I received well before the stipulated deadline.4, Congratulations Lannister stores I loved buying for the safe and practical internet Congratulations to all happy Easter9, efficient device. On the site the mark of the device is printed as 3desinfector and when arriving this with another name ... Update with the correct brand since it is the same appliance 12, "but a little, locking ... by the value is good." 15, "Reliable seller, product ok and delivery before the deadline." 16, "I would like to know what happened, I always received and this purchase now decompected me" 19, lousy22, store note 1024, thank you for the attention Amim Dispensada27, "The purchase was accomplished easily.The delivery was performed long before the deadline given. The product has already started to be used and even the present, no problems. "28, very beautiful watch and cheap.29, I did not like it! I bought cat by lebre32, "I always buy the Internet and the delivery occurs before the combined deadline, which I believe to be the maximum deadline. No Stark has already exhausted and has not received the product yet." 34, "I received exactly what I expected . The other orders of other sellers delayed, but it arrived on time. "36," I recommend, "37, very good 38," I'm completely in love, a super responsible and reliable store! "39, Nothing to arrive My request.43 ,Very good. very smelling.47, "Great seller arrived until the deadline, I loved the product" 49, a quiet and efficient purchase process.50, I hope that lasts because it is from Pelinho.51, "I received only 1 control Midea Split style.Falted control Remote for Air Conditioning Consul "55, Boa59, Mt Lindo61," All As Hired Being Delivery Before the Time I am satisfied "62," I loved I found it beautiful, very delicate I loved "64," Great store for partnership: Quick, products Well packed and quality! Only the cost of freight that was kind of sour. "67, I recommend the seller ... 68," The product has not arrived on the stipulated deadline and caused a disorder, because I scheduled the vacation trip from my son, based on On the deadline. I live in Bahia and Him in Cuiabá alone. Now the house is empty. "69," Product delivered as requested, and very brevity. Congratulations! "73, I bought two units and I only received one and now Do I do it? 75, "good product, but what came to me does not match the photo of the ad." 76, "much lower product, poorly Cabado. "79, the Kit Backpack Canine Patrol is beautiful !! My grandson will love !! Thank you !! 80, Maravilha 87, delivery on time-time88, fulfilled the promised in the purchase and with a satisfactory time 89, asked for refund and no response to moment 90, super fast.100, "satisfied" 103, "Congratulations ... always arrives with muiiita precedence .. thank you .... "108, ok recommend110," product arrived, but my pc could not recognize the USB doors. "111," Very Good Quality Product, Arrived Before Term Promised "115," This was the requestalde with 128 pieces - Building blocks 2 un - R $ 25,00 each (it was not delivered) Sold and delivered Targaryentap of EVA Nº letters 36 pieces Children 1 Un - R $ 35,90 This was delivered "116," very fast delivery "119, I bought three packages of five leaves each paper transfer to dark fabric and only received two121," I was missing only a product, I received today, thank you very much! Att Elenice . "127," The thermal bag beyond beautiful is super spacious. Product according to the announced and super fast delivery, delivered well terms. "

In [10]:
a = test_df["review_comment_message"].values

In [11]:
type(a)

numpy.ndarray

In [12]:
a = a.tolist()
type(a)

list

In [41]:
max_len_for_transl = 's'*5001

## googletrans has a restriction in 5000 symbols. Below is an example of error

In [42]:
translation = translator.translate(max_len_for_transl, src='pt')
print("Translated text: ", translation.text)

TypeError: the JSON object must be str, bytes or bytearray, not NoneType

## Twitter corpus

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import plotly.express as px

In [35]:
df_tw = pd.read_csv('NoThemeTweets.csv')
df_tw.head()

,id,tweet_text,tweet_date,sentiment,query_used
0,1031761728445530112,@Tixaa23 14 para eu ir :),Tue Aug 21 04:35:39 +0000 2018,Positivo,:)
1,1031761040462278656,@drexalvarez O meu like eu já dei na época :),Tue Aug 21 04:32:55 +0000 2018,Positivo,:)
2,1031760962372689920,Eu só queria conseguir comer alguma coisa pra ...,Tue Aug 21 04:32:37 +0000 2018,Positivo,:)
3,1031760948250456066,:D que lindo dia !,Tue Aug 21 04:32:33 +0000 2018,Positivo,:)
4,1031760895985246208,"@Primo_Resmungao Pq da pr jeito!!é uma ""oferta...",Tue Aug 21 04:32:21 +0000 2018,Positivo,:)

In [36]:
df_tw.describe()

                 id
count  7.858140e+05
mean   1.038515e+18
std    5.528717e+15
min    1.029536e+18
25%    1.032427e+18
50%    1.039270e+18
75%    1.042934e+18
max    1.050786e+18

In [37]:
df_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785814 entries, 0 to 785813
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          785814 non-null  int64
 1   tweet_text  785814 non-null  object
 2   tweet_date  785814 non-null  object
 3   sentiment   785814 non-null  object
 4   query_used  785814 non-null  object
dtypes: int64(1), object(4)
memory usage: 30.0+ MB